{% extends "layout.html" %}

{% block title %}Test：这里写你要替换的标题{% endblock %}

{% block page_content %}

<link href="{{ url_for('static', filename = 'css/base.css')}}" rel="stylesheet">

<!-- <script async src="static/xxxxx.js"></script> -->
<!-- 
<style>
</style> 
-->

<div class="main">

    <div class="content">
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
        </p>
    </div>

</div>

{% endblock %}