{% extends "layout.html" %}

{% block title %}FBA分析平台{% endblock %}

{% block page_content %}

<link href="{{ url_for('static', filename = 'css/base.css')}}" rel="stylesheet">


<style>
    .welcome-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 160px);
        text-align: center;
    }

    .welcome-logo {
        font-size: 72px;
        color: var(--primary-color);
        margin-bottom: 30px;
    }

    .welcome-text {
        font-size: 24px;
        margin-bottom: 50px;
        color:var(--primary-color);
    }

    .start-btn {
        padding: 8px 16px;
        background-color: var(--primary-light);
        color: var(--primary-color);
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease;
        font-size: 16px;
        display: flex;
        align-items: center;
        gap: 8px;
    }

    .start-btn:hover {
        background-color: var(--primary-dark);
        opacity: 0.9;
    }
</style>

<div class="welcome-container">
    <div class="welcome-logo">FBA ANALYSIS</div>
    <div class="welcome-text">代谢网络通量平衡分析平台</div>
    <button class="start-btn" onclick="window.location.href='/model'">
        开始分析 <i class="fa-solid fa-arrow-right"></i>
    </button>
</div>

<script>
    localStorage.removeItem('selectedModelId');
    document.getElementById('modelIdText').textContent = "未选择模型";
    localStorage.removeItem('selectedGenes');
    localStorage.removeItem('selectedReactions');
    localStorage.removeItem('selectedReactionId');
</script>

{% endblock %}