button {
    color: #FFC107;
    /* 金黄文字 */
    background: transparent;
    /* 透明背景 */
    border: none;
    /* 去掉边框 */
    cursor: pointer;
    /* 鼠标悬停变手指 */
    padding: 0;
    /* 去掉内边距 */
    font-size: inherit;
    /* 继承父元素字体大小 */
}

button:hover {
    text-decoration: underline;
}

.content {
    backdrop-filter: blur(10px);
    /* 上 0，右 自动，底 80px，左 250px刚好 */
    /*margin: 50px 100px 80px 350px;*/
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 350px;
    max-width: 100%;
    /* 限制最大宽度 */

    display: flex;
    flex-wrap: wrap;

}


.content p {
    width: 100%;
    /* 强制p元素占满宽度 */
    word-break: break-word;
    /* 确保强制换行 */
}

/* body { */
/* 上 0，右 自动，底 80px，左 250px刚好 */
/* margin: 50px 100px 80px 250px;
} */

table {
    width: 100%;
    /* 占满父容器宽度 */
    border-collapse: collapse;
    /* 合并单元格边框 */
}

th,
td {
    border: 1px solid #ccc;
    /* 边框样式 */
    padding: 0.5rem;
    /* 单元格内边距 */
    text-align: left;
    /* 文本左对齐 */
}

caption {
    caption-side: top;
    /* 标题显示在表格上方 */
    font-weight: bold;
    margin-bottom: 0.5rem;
}

body {
    background-image: url('../icons/background.png');
    /* background-size: contain; */
    /* 完整显示图片，可能有空白*/
    background-size: 100% 100%;
    /* 拉伸填充 */
    color: #FFECB3
}